header{
    display: flex;
    justify-content: space-between;
    padding: 3%;
}
.score{
    padding: 2%;
    border: chocolate solid 5px;
    border-radius: 5px;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    padding: 3%;
    height: 100vh;
    width:100%;
}
.card{
    border: solid 6px;
    margin: 1%;
    box-sizing: border-box;
}

img{
    width:100%;
}
.img-text{
    background-color: black;
    color: cornsilk;
    font-size: 100%;
    text-align: center;
    line-height:1.5rem;
    margin-bottom: 0;
}